
.cluster-left{
  flex: 1 ;
  display: flex;
  flex-direction: column;
}
.cluster-bottom-container{
  flex: 1;
  display: flex;
  margin-top: 10px;
}
.cluster-section{
  flex: 3;
  margin-left: 10px;
}
.cluster-left-top{
  flex: 4;
}
.cluster-left-bottom{
  margin-top: 10px;
  flex: 9;
}